NODE_ENV=development
PORT=3000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=note_mobile_db
DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=true
DB_INSECURE_AUTH=false

JWT_SECRET=note-mobile-local-secret
JWT_EXPIRE=7d

FRONTEND_URL=http://localhost:8081
CLIENT_ORIGIN=http://localhost:8081

EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_PUBLIC_KEY=
EMAILJS_PRIVATE_KEY=
